html
  head
    title Expenses Tracker
    script(src="https://unpkg.com/axios@0.17.0/dist/axios.min.js")
    style
      include style.css

    script.
        ("Let's save money!")

  body
    block content
