@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');
@import url('https://fonts.googleapis.com/css?family=Quicksand');

body {
    font-family: 'Quicksand', sans-serif;
}

.headline {
    font-family: 'Cormorant Garamond', serif;
    margin-top: 30px;
    font-size: 35px;
    color: rgba(18, 110, 231, 0.952);
    text-align: center;
    margin-bottom: 50px;
}

.today {
    font-family: 'Quicksand', sans-serif;
}
.table-header {
    background-color: rgb(255, 202, 213);
    text-align: center;
    height: 35px;
}

.table-row {
    height: 40px;
}

.item-id {
    width: 3rem;
    text-align: center;
}

.item-name {
    width: 15rem;
}

.item-cost {
    width: 8rem;
    text-align: center;    
}

.item-category {
    width: 7rem;
}